<div class="background-share">
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11&appId=371133869758677';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div class="shareCS">
    <p class="title">
      Ready! Now you’ll have a souvenir of Mexican Fiesta!
    </p>
    <button mat-button class="fbShare">
      <img src="assets/images/icon-facebook-color.svg">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small"
        data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=fj-10lIrboM&amp;src=sdkpreparse">SHARE ON FACEBOOK</a>
      </div>
    </button>
    <button mat-button class="downloadCS">
      <img src="assets/images/icon-download.svg">
      <p class="download">
        DOWNLOAD MY PHOTO
      </p>
    </button>
    <form class="formCS">
      <mat-form-field class="CS-input">
        <p class="email">
          EMAIL
        </p>
        <input matInput>
      </mat-form-field>
    </form>
  </div>
  <div class="canvas">
    
  </div>
</div>