<app-header></app-header>
<div class="MF-content">
    <p class="MF-title">Would you like a souvenir picture of Mexican Fiesta?</p>
    <p class="Sub-title">If you would like it, you will allow to Mexican Fiesta activate your camera. </p>
    <button mat-button>
        <div class="button-content">
            <img src="/assets/images/icon-camera.svg">
            <p class="MF-button">
                TAKE PHOTO
            </p>
        </div>
    </button>
</div>
<div class="MF-instructions">
    <div class="card">
        <div class="title">
            <p class="number">
                1.
            </p>
            <p class="instruction">
                Select your <span class="black">background.</span>
            </p>
        </div>
        <img src="/assets/images/select.png">
    </div>
    <div class="card">
        <div class="title">
            <p class="number">
                2.
            </p>
            <p class="instruction">
                    Put your  <span class="black">face </span> inside of the picture.
            </p>
        </div>
        <img src="/assets/images/face.png">
    </div>

    <div class="card">
        <div class="title">
            <p class="number">
                3.
            </p>
            <p class="instruction">
                   <span class="black">Ready! </span> Download or/and post it in your social media.
            </p>
        </div>
        <img src="/assets/images/social.png">
    </div>
</div>