
.MF-content{
    width: 100%;
    text-align: center;
}
.MF-title{
    width: 45.1%;
    height: 33px;
    margin: 3.3% 27.4% 0;
    font-family: MalayalamMN;
    font-size: 24px;
    text-align: center;
    color: #3f3f3f;
}

.Sub-title{
    width: 25%;
    height: 38px;
    margin: 2.4% 37.5% 3.1%;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #666666;
}

button{
    width: 18.2%;
    height: 5.2%;
    border-radius: 3px;
    background-color: #686bdd;
}
.button-content{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.camera{
    margin: 0 8px 0 21%;
}

.MF-button{
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    margin: 0 25% 0 0;
}

.MF-instructions{
    margin-top: 6%;    
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card{
    text-align: center;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.number{
    width: 39px;
    height: 67px;
    font-family: MalayalamMN;
    font-size: 48px;
    text-align: center;
    color: #ff8f04;
    margin: 0;
}

.instruction{
    width: 214px;
    height: 33px;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #3f3f3f;
}
.black{
    font-weight: 700;
}


@media screen and (max-width: 400px) {
    .MF-content{
        width: 100%;
        text-align: center;
        margin-top: 56px;
    }
    .MF-title{
        width: 91.1%;
        height: auto;
        margin: 3.3% 4.4% 0;
        font-family: MalayalamMN;
        font-size: 24px;
        text-align: center;
        color: #3f3f3f;
 
    }
    
    .Sub-title{
        width: 91.1%;
        height: auto;
        margin: 2.4% 4.4% 3.1%;
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        color: #666666;
    }
    
    button{
        width: 68.9%;
        height: 5.2%;
        border-radius: 3px;
        background-color: #686bdd;
    }
    .button-content{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .camera{
        margin: 0 0 0 21%;
    }
    
    .MF-button{
        width: 100%;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #ffffff ;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        margin: 0 25% 0 0;
    }
    
    .MF-instructions{
        margin-top: 6%;    
        width: 100%;
        display: block;
    }
    
    .card{
        text-align: center;
    }
    
    .title{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .number{
        width: 39px;
        height: auto;
        font-family: MalayalamMN;
        font-size: 48px;
        text-align: center;
        color: #ff8f04;
        margin: 0;
    }
    
    .instruction{
        width: 236px;
        height: auto;
        font-family: Roboto;
        font-size: 18px;
        text-align: left;
        color: #3f3f3f;
    }
    .black{
        font-weight: 700;
    }
}    