/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url('assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoM;
    src: url('assets/Roboto/Roboto-Medium.ttf');
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}
.mat-button-wrapper{
    width: 100%;
    display: flex;
}

.mat-form-field{    
    width: 100%;
}

input.mat-input-element{
    width: 282px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;    
}
.mat-form-field-underline {
    display:none;
}

.mat-form-field-infix{
    color:#4d4d4d;    
}

@media screen and (max-width: 400px) {
    .desktop{
        display: none;
    }
    
    .mobile{
        display: block;
    }
}